
<div class="row text-center">
  <div class="col-lg-12">
    <h1><strong>Sierra Nevada Marketing</strong><br><small>Get Found in Northern California!</small></h1>
    <a href="tel://1-530-362-8014" class="bg3 btn btn-lg"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  (530) 362-8014</a>
    <br />
    <h2>*<small>TWO EASY OPTIONS</small>*</h2>
</div>

<div class="row">
  <div class="col-md-6 bg1">
    <h3>
      Get Found<br /><br /><em class="bold">DELUXE</em>
    </h3>
        <h4><strong><em>Professional</em></strong> Website</h4>
        <h4><strong><em>Professional</em></strong> Photograhy</h4>
        <h4><strong><em>Professional</em></strong> Print Materials</h4>
        <h4><strong><em>Professional</em></strong> Seach Engine Optimization (SEO/SEM)</h4>
        <h4><strong><em>Professional</em></strong> Online citation</h4>


  </div>
  <div class="col-md-6 bg2">
    <h3>
      Get Found <br /><br /><em>Basic</em>
    </h3>

      <h4><strong><em>Professional</em></strong> Online citation</h4>
      <h4><strong><em>Professional</em></strong> Photograhy</h4>
      <h4><strong><em>Professional</em></strong> Print Materials</h4>

  </div>
</div>
